In [3]:
import pandas as pd
import numpy as np

covid = pd.read_csv(r"C:\Users\atakan.kececi\Desktop\AI_Calismalar\datas\covid19data.csv")
print(covid)

      FIPS Admin2 Province_State        Country_Region          Last_Update  \
0      NaN    NaN            NaN           Afghanistan  2023-03-10 04:21:03
1      NaN    NaN            NaN               Albania  2023-03-10 04:21:03
2      NaN    NaN            NaN               Algeria  2023-03-10 04:21:03
3      NaN    NaN            NaN               Andorra  2023-03-10 04:21:03
4      NaN    NaN            NaN                Angola  2023-03-10 04:21:03
...    ...    ...            ...                   ...                  ...
4011   NaN    NaN            NaN    West Bank and Gaza  2023-03-10 04:21:03
4012   NaN    NaN            NaN  Winter Olympics 2022  2023-03-10 04:21:03
4013   NaN    NaN            NaN                 Yemen  2023-03-10 04:21:03
4014   NaN    NaN            NaN                Zambia  2023-03-10 04:21:03
4015   NaN    NaN            NaN              Zimbabwe  2023-03-10 04:21:03

            Lat       Long_  Confirmed  Deaths  Recovered  Active  \
0     33.939110   67.709953     209451    7896        NaN     NaN
1     41.153300   20.168300     334457    3598        NaN     NaN
2     28.033900    1.659600     271496    6881        NaN     NaN
3     42.506300    1.521800      47890     165        NaN     NaN
4    -11.202700   17.873900     105288    1933        NaN     NaN
...         ...         ...        ...     ...        ...     ...
4011  31.952200   35.233200     703228    5708        NaN     NaN
4012  39.904200  116.407400        535       0        NaN     NaN
4013  15.552727   48.516388      11945    2159        NaN     NaN
4014 -13.133897   27.849332     343135    4057        NaN     NaN
4015 -19.015438   29.154857     264276    5671        NaN     NaN

              Combined_Key  Incident_Rate  Case_Fatality_Ratio
0              Afghanistan     538.042451             3.769855
1                  Albania   11621.968170             1.075774
2                  Algeria     619.132366             2.534476
3                  Andorra   61981.492267             0.344540
4                   Angola     320.352770             1.835917
...                    ...            ...                  ...
4011    West Bank and Gaza   13784.956961             0.811686
4012  Winter Olympics 2022            NaN             0.000000
4013                 Yemen      40.048994            18.074508
4014                Zambia    1866.491630             1.182333
4015              Zimbabwe    1778.088529             2.145863

[4016 rows x 14 columns]

In [6]:
covid = covid.drop(['FIPS','Admin2'], axis = 1)
covid
#covid.head(istenen miktar) --> istenen miktar ilk sıralardaki datayı getirir
#covid.tail(istenen miktar) -->sondaki istenen miktar kadar datayı getrir.

KeyError: "['FIPS', 'Admin2'] not found in axis"

In [8]:
covid['Country_Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'US',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [10]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4016 entries, 0 to 4015
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Province_State       3837 non-null   object
 1   Country_Region       4016 non-null   object
 2   Last_Update          4016 non-null   object
 3   Lat                  3925 non-null   float64
 4   Long_                3925 non-null   float64
 5   Confirmed            4016 non-null   int64
 6   Deaths               4016 non-null   int64
 7   Recovered            0 non-null      float64
 8   Active               0 non-null      float64
 9   Combined_Key         4016 non-null   object
 10  Incident_Rate        3922 non-null   float64
 11  Case_Fatality_Ratio  3974 non-null   float64
dtypes: float64(6), int64(2), object(4)
memory usage: 376.6+ KB

In [12]:
covid['Deaths'].sum()

6881804

In [14]:
df = covid[['Province_State','Country_Region','Confirmed','Deaths','Recovered','Active']]
df

,Province_State,Country_Region,Confirmed,Deaths,Recovered,Active
0,NaN,Afghanistan,209451,7896,NaN,NaN
1,NaN,Albania,334457,3598,NaN,NaN
2,NaN,Algeria,271496,6881,NaN,NaN
3,NaN,Andorra,47890,165,NaN,NaN
4,NaN,Angola,105288,1933,NaN,NaN
...,...,...,...,...,...,...
4011,NaN,West Bank and Gaza,703228,5708,NaN,NaN
4012,NaN,Winter Olympics 2022,535,0,NaN,NaN
4013,NaN,Yemen,11945,2159,NaN,NaN
4014,NaN,Zambia,343135,4057,NaN,NaN
4015,NaN,Zimbabwe,264276,5671,NaN,NaN

In [16]:
df.loc[df['Country_Region'] == 'Turkey']

    Province_State Country_Region  Confirmed  Deaths  Recovered  Active
676            NaN         Turkey   17042722  101492        NaN     NaN

In [20]:
for index,row in df.iterrows():
    if(row['Country_Region'] == 'France'):
        display(row[['Country_Region','Deaths']])

Country_Region    France
Deaths               413
Name: 206, dtype: object

Country_Region    France
Deaths               649
Name: 207, dtype: object

Country_Region    France
Deaths              1010
Name: 208, dtype: object

Country_Region    France
Deaths              1092
Name: 209, dtype: object

Country_Region    France
Deaths               187
Name: 210, dtype: object

Country_Region    France
Deaths               314
Name: 211, dtype: object

Country_Region    France
Deaths               921
Name: 212, dtype: object

Country_Region    France
Deaths                 6
Name: 213, dtype: object

Country_Region    France
Deaths                 2
Name: 214, dtype: object

Country_Region    France
Deaths                63
Name: 215, dtype: object

Country_Region    France
Deaths                 7
Name: 216, dtype: object

Country_Region    France
Deaths            161512
Name: 217, dtype: object